※ 5명 학생의 수학과 영어 점수는 아래 문제의 값과 같다.ex) 1번째 학생 점수 수학:88, 영어:90<br>
∙최종점수는 수학과 영어의 가중치를 각각 0.6과 0.4로 두고 계산한다.<br>
∙zip을 활용하여 수학과 영어 점수를 합친 뒤, for 문을 활용해 최종점수 list를 구하여라.<br>
∙그리고 최종점수가 75점 이상인 학생들을 고르려고 할 때, 몇 번째 학생들이 이에 해당되는지 구하여라.

In [29]:
math = [88,65,67,93,75]
english = [90,77,85,74,66]
c = list(zip(math, english))
result=[]
num=[]
for i in range(5):
    result.append(0.6*c[i][0]+0.4*c[i][1])
print("학생들의 최종점수:",result)
for k in result:
    if k>=75:
        num.append(result.index(k)+1)
print("75점이 넘은 학생들:",num)

학생들의 최종점수: [88.8, 69.8, 74.19999999999999, 85.4, 71.4]
75점이 넘은 학생들: [1, 4]

※1부터 20까지의 수들 중 홀수는 세제곱, 짝수는 제곱을 한 값을 가지는 list형 num을 list comprehension을 통해 만들어라.<br>
∙num_list를 입력 받고 num_list 안의 수들을 2로 나눈 몫이 짝수이면 그대로, 홀수이면 0으로 만드는 generator 함수 ulala를 정의해라.<br>
∙num을 ulala에 대입해 그 결과값을 list로 표현하여라.

In [40]:
num = [i**3 if i%2 == 1 else i**2 for i in range(1,21)]
def ulala(num_list):
    for k in num_list:
        if (k//2)%2 == 0:
            yield k
        else:
            yield 0
result = ulala(num)
print(list(result))

[1, 4, 0, 16, 125, 36, 0, 64, 729, 100, 0, 144, 2197, 196, 0, 256, 4913, 324, 0, 400]

※ List Comprehension<br>
∙ 1부터 1000까지의 정수 중에 3의 배수만 있는 리스트를 한 줄로 만드시오.

In [1]:
thirds = [i for i in range(1001) if i%3 == 0 ]

In [2]:
print(thirds)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

※ 1부터 9까지의 수 중 난수 8개로 구성된 리스트(a) 생성
   생성된 숫자들을 오름차순으로 정렬하는 함수를 정의해보자.
   
∙ import random<br>
∙ a = random.sample(range(1,20), 8)<br>
∙ print(a)

In [4]:
import random
a = random.sample(range(1, 20), 8)
print(a)

[13, 12, 6, 11, 18, 8, 14, 10]

In [5]:
def sorting(nums):
    for i in range(1, len(a)):
        for j in range(0, len(a)-1):
            if a[j] > a[j+1]:
                a[j+1], a[j] = a[j], a[j+1]
    print(a)

In [6]:
sorting(a)

[6, 8, 10, 11, 12, 13, 14, 18]